body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100%;
    margin:0;
    padding:0;
}

.header {
        display:flex;
        justify-content:space-between;
        align-items:center;
        color:white;
        background-color: black;
        height: 70px;
        font-size:10px;
        font-weight: bold;
}

.header-l {
    margin-left: 2%;
}

.header-r {
    margin-right: 2%;
}

.header-r li {
    list-style:none;
    display: flex;
    gap: 30px;
}

.box {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: black;
    width:50%;
    height:90vh;
    margin-top: 2px;
}

.box img {
    display:flex;
    height:400px;
    width:400px;
    border-radius: 50%;
    align-items:center;
    justify-content: center;
}

.txt {
    justify-content: center;
}

#big-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12%;
}

h2 {
    font-size: 30px;
}

.txt p {
    display:flex;
    justify-content: center;
}